<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.ru.own.www.mybatis.dao.BrandSeriesMapper">
 <!--  
  <select id="selectAdminUserById" resultType="admin.ru.own.www.entity.AdminUser">
    select u_id  as "UId", u_name as "UName" from admin_user where u_id = #{id}
  </select>
  
  <sql id="column_list">
        id,uid,follow_uid,update_time,create_time
    </sql>
        <select id="getListByUid" parameterType="java.lang.Long" resultMap="result_map">
        select
        <include refid="column_list"/>
        from tb_sns_follow
        where uid = #{uid}
    </select>
 -->
    <resultMap id="result_map" type="admin.ru.own.www.entity.BrandShow">
        <id column="brand_id" property="id" jdbcType="INTEGER"/>
        <result column="brand_name" property="name" jdbcType="VARCHAR"/>
        <result column="parent_brand_id" property="pId" jdbcType="INTEGER"/>
    </resultMap>
    
   <select id="brandFetchByCategoryId"  parameterType="java.lang.Integer" resultMap="result_map">
          select brand_id,brand_name,parent_brand_id from brand_series where class_id = #{id}
  </select>
  
  <insert id="insertForeignBrand" useGeneratedKeys="true" keyProperty="id" parameterType="admin.ru.own.www.entity.BrandMultiLanguage">
     insert  into brandmultilanguage(lan_id,brand_id,foreign_name,foreign_title,foreign_keywords,foreign_description,createtime,modifytime)
        values(#{lan_id},#{brand_id},#{name},#{title},#{keywords},#{description},now(),now())
  </insert>
  
    <delete id="delForeignBrandByBranId" parameterType="java.lang.Integer">
        delete from brandmultilanguage where brand_id=#{brandId}
  
  </delete>
  
         <!--配置一个resultMap 指定返回的类型 -->
    <resultMap id="BrandById" type="admin.ru.own.www.entity.EditBrandMultiLanguage">
        <id column="id" property="id" />
        <result column="brand_id" property="brand_id" />
        <result column="language_name" property="language_name" />
        <result column="foreign_name" property="name" />
        <result column="foreign_title" property="title" />
        <result column="foreign_keywords" property="keywords" />
        <result column="foreign_description" property="description" />
    </resultMap>
    
  <select id="fecthBrandMultiBybrandId" parameterType="java.lang.Integer" resultMap="BrandById">
    select c.id,c.brand_id,c.foreign_name,c.foreign_title,
    c.foreign_keywords,c.foreign_description,l.language_name from brandmultilanguage c join language l where brand_id=#{brandId} and c.lan_id=l.lan_id
  </select>
  
  <update id="updatebrandXiangXiInfo" parameterType="admin.ru.own.www.entity.BrandSeries" flushCache="true"  timeout="20">
    update brandmultilanguage set foreign_name=#{brandName},foreign_title=#{brandTitle},
    foreign_keywords=#{brandKeywords},foreign_description=#{brandDescription} where id=#{brandId}
  </update>
</mapper>