<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.ru.own.www.mybatis.dao.CategoryMapper">
	<insert id="insertForeignCategory" useGeneratedKeys="true"
		keyProperty="id" parameterType="admin.ru.own.www.entity.CategoryMultiLanguage">
		insert into
		categorymultilanguage(lan_id,category_id,foreign_name,foreign_title,foreign_keywords,foreign_description,createtime,modifytime)
		values(#{lan_id},#{category_id},#{name},#{title},#{keywords},#{description},now(),now())
	</insert>

	<delete id="delForeignCateByCateId" parameterType="java.lang.Integer">
		delete from categorymultilanguage where category_id=#{categoryId}

	</delete>

	<update id="updateCateBasicInfo" parameterType="admin.ru.own.www.entity.Category"
		flushCache="true" timeout="20">
		update category set category_name=#{categoryName},imagesize=#{imagesize},is_show=#{isShow} where
		category_id=#{categoryId}
	</update>
	
	<update id="updateCateBasicImage" parameterType="admin.ru.own.www.entity.Category"
        flushCache="true" timeout="20">
        update category set image=#{image} where
        category_id=#{categoryId}
    </update>
    
    
    <update id="updateCateBasicIcon" parameterType="admin.ru.own.www.entity.Category"
        flushCache="true" timeout="20">
        update category set icon=#{icon} where
        category_id=#{categoryId}
    </update>


	<update id="updateCateXiangXiInfo" parameterType="admin.ru.own.www.entity.Category"
		flushCache="true" timeout="20">
		update categorymultilanguage set
		foreign_name=#{categoryName},foreign_title=#{title},
		foreign_keywords=#{keyword},foreign_description=#{description} where
		id=#{categoryId}
	</update>

	<!--配置一个resultMap 指定返回的类型 -->
	<resultMap id="CategoryById" type="admin.ru.own.www.entity.EditCategoryMultiLanguage">
		<id column="id" property="id" />
		<result column="category_id" property="category_id" />
		<result column="language_name" property="languageName" />
		<result column="foreign_name" property="name" />
		<result column="foreign_title" property="title" />
		<result column="foreign_keywords" property="keywords" />
		<result column="foreign_description" property="description" />
	</resultMap>

	<select id="fecthCateMultiByCateId" parameterType="java.lang.Integer"
		resultMap="CategoryById">
		select c.id,c.category_id,c.foreign_name,c.foreign_title,
		c.foreign_keywords,c.foreign_description,l.language_name from
		categorymultilanguage c join language l where
		category_id=#{categoryId} and c.lan_id=l.lan_id
	</select>


	<resultMap id="category" type="admin.ru.own.www.entity.Category">
		<id column="id" property="id" />
		<result column="category_id" property="categoryId" />
		<result column="category_name" property="categoryName" />
		<result column="category_father_id" property="categoryFatherId" />
		<result column="is_father" property="isFather" />
	</resultMap>
	
	<select id="getAllCategory" resultMap="category">
		select * from category
	</select>
	
	<select id="getCategoryName" resultType="String" parameterType="int">
		select category_name from category where category_id = #{id}
	</select>
	
	<select id="getCategory" resultMap="category" parameterType="int">
		select * from category where category_id = #{id}
	</select>
	
	<select id="getAllCategoryWithMultilanguage" resultMap="category" parameterType="int">
		SELECT category.category_id,category.category_father_id,category.is_father,categorymultilanguage.foreign_name as category_name FROM own.categorymultilanguage right join  own.category on category.category_id = categorymultilanguage.category_id and lan_id = #{lanid};
	</select>
	
	<select id="getSubCategoryID" resultType="int" parameterType="int">
		SELECT c2.category_id FROM own.category as c1,own.category as c2 where c1.category_id = c2.category_father_id and c1.category_id = #{id};
	</select>
	
	<!-- 根据语言的id获取商品分类，在前台显示 -->
	<select id="getShowCategory"  resultMap="clientShowCategory">
        select c.category_id,c.icon,c.image,cm.foreign_name,cm.lan_id,cm.foreign_title,cm.foreign_keywords,cm.foreign_description from category c, categorymultilanguage cm where c.is_show =1 and c.category_father_id = 1 and cm.lan_id = #{lanid} and c.category_id=cm.category_id;
    </select>
    
    
         
     <resultMap type="admin.ru.own.www.entity.CategoryClientShow" id="clientShowCategory">
          <association property="firstLevelCategory" javaType="admin.ru.own.www.entity.Category">
            <id property="categoryId" column="category_id"/>
            <result property="categoryName" column="foreign_name"/>
            <result property="icon" column="icon"/>
            <result property="image" column="image"/>
            <result property="title" column="foreign_title"/>
            <result property="keyword" column="foreign_keywords"/>
            <result property="description" column="foreign_description"/>
          </association>
          <collection property="secondLevelList"  column="{fatherId=category_id,lanid=lan_id}"  ofType="admin.ru.own.www.entity.SecondLevelCategoryList" select="selectSecondLevelList"></collection>
     </resultMap>
     
     <select id="selectSecondLevelList"  resultMap="secondLevelList">
        select c.category_id,c.icon,c.image,cm.foreign_name,cm.lan_id,cm.foreign_title,cm.foreign_keywords,cm.foreign_description from category c, categorymultilanguage cm where c.is_show = 1 and  c.category_father_id = #{fatherId} and cm.lan_id = #{lanid} and c.category_id=cm.category_id;
     </select>
     
     <resultMap type="admin.ru.own.www.entity.SecondLevelCategoryList" id="secondLevelList">
          <association property="secondLevelCategory" javaType="admin.ru.own.www.entity.Category">
            <id property="categoryId" column="category_id"/>
            <result property="categoryName" column="foreign_name"/>
            <result property="icon" column="icon"/>
            <result property="image" column="image"/>
            <result property="title" column="foreign_title"/>
            <result property="keyword" column="foreign_keywords"/>
            <result property="description" column="foreign_description"/>
          </association>
          <collection property="thirdLevelList"  column="{fatherId=category_id,lanid=lan_id}"  ofType="admin.ru.own.www.entity.Category" select="selectThirdLevelList"></collection>
     </resultMap>
     
     <select id="selectThirdLevelList"  resultMap="thirdLevelList">
        select c.category_id,c.icon,c.image,cm.foreign_name,cm.lan_id,cm.foreign_title,cm.foreign_keywords,cm.foreign_description from category c, categorymultilanguage cm where c.is_show = 1 and  c.category_father_id = #{fatherId} and cm.lan_id = #{lanid} and c.category_id=cm.category_id;
     </select>
     
     <resultMap id="thirdLevelList" type="admin.ru.own.www.entity.Category">
            <id property="categoryId" column="category_id"/>
            <result property="categoryName" column="foreign_name"/>
            <result property="icon" column="icon"/>
            <result property="image" column="image"/>
            <result property="title" column="foreign_title"/>
            <result property="keyword" column="foreign_keywords"/>
            <result property="description" column="foreign_description"/>
     </resultMap>
	
	<!-- Tian -->
	<select id="getAllSubCategoryIDStr" resultType="string" parameterType="int">
		SELECT own.GetChildIDs(#{categoryid});
	</select>
	
	<select id="getAllFutherCategoryIDStr" resultType="string" parameterType="int">
		SELECT own.GetFatherIDs(#{categoryid});
	</select>
</mapper>