<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.ru.own.www.mybatis.dao.ShippingMapper">

	  <insert id="insertShipping" useGeneratedKeys="true" keyProperty="id" parameterType="admin.ru.own.www.entity.Shipping">
	     insert  into shipping(name,status,beizhu,createtime)values(#{name},#{status},#{beizhu},now())
	  </insert>
  
       <!--配置一个resultMap 指定返回的类型    -->
    <resultMap id="allShipping" type="admin.ru.own.www.entity.Shipping">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="status" property="status" />
        <result column="beizhu" property="beizhu" />
        <result column="createtime" property="createTime" />
    </resultMap>
    
    <select id="getShippingByPageNum" resultMap="allShipping" parameterType="admin.ru.own.www.entity.Pagination">
        select id,name,status,beizhu,createtime from shipping limit #{offset},#{numberInPage}
    </select>
    
    <select id="getAllShipping" resultMap="allShipping">
        select id,name,status,beizhu,createtime from shipping
    </select>
    
    <select id="getTotalNumberOfShipping" resultType="int">
        select count(*) from shipping
    </select>

    <select id="getShippingById" resultType="admin.ru.own.www.entity.Shipping" parameterType="int">
        select id,name,status,beizhu,createtime createTime from shipping where id=#{id}
    </select>
    
    <update id="modifyShipping" parameterType="admin.ru.own.www.entity.Shipping" flushCache="true"  timeout="20">
	    update shipping  set name=#{name},status=#{status},
	    beizhu=#{beizhu},createtime=now() where id=#{id}
  	</update>
  	
     <delete id="deleteShippingById" parameterType="int">
  	  	delete from shipping where id=#{id}    
    </delete>
</mapper>