#add_value 
{
	display: block;
    width: 16px;
    height: 16px;
    background: #337ABB url(../images/icon_add_attr.png) no-repeat;
    position: absolute;
	top: 5px;
	left: 156px;
}

#attr_values
{
    position: relative;
}

#attr_value_input
{
    width: 154px;
}

.attr_value_span
{
	 position: relative;
	 margin-right: 18px;
    padding-right: 16px;
}

.close
{
    display: block;
    width: 16px;
    height: 16px;
    background:  url(../images/icon_close_attr.png) no-repeat;
    position: absolute;
    top: 1px;
    left: 155px;
}
