@charset "utf-8";

#page960 {
padding: 0 30px 20px;
}


.required {
padding-left: 15px;
background: url(../images/sprites_common.gif) 5px -305px no-repeat;
}

#page960{
margin: auto;
text-align: left;
}

.tables.V {
border: 0;
}

.tables.V input{
border: 1px solid #CCC;
font: 400 normal 12px/18px arial;
padding: 2px;
}

 table, td, div, p, .win, .column {
word-wrap: break-word;
word-break: break-all;
word-break: normal;
}

.tables.V th {
text-align: right;
padding: 8px;
vertical-align: top;
font-weight: 700;
}

.tables.V td {
padding: 6px 0;
text-align: left;
}


input, select, textarea {
font: 13px Roboto,Helvetica,Tahoma,Arial,sans-serif;
}


/*检验密码的强度css*/
ul.checkPassword {
height: 20px;
margin: 4px 0 0;
padding: 0;
list-style-type: none;
text-align: center;
font: .85em verdana;
color: #aaa;
}



li {
display: list-item;
text-align: -webkit-match-parent;
}

ul.checkPassword li {
padding: 2px;
display: block;
float: left;
text-align: center;
margin: 0;
}
ul.checkPassword .strength1, ul.checkPassword .strength2, ul.checkPassword .strength3 {
width: 70px;
text-align: center;
background-color: #F1F1F1;
display: block;
}

ul.checkPassword .strength1, .strength2 {
border-right: solid 1px #DEDEDE;
}

/*password tips*/
.dpl-board-notice, .dpl-board-notice-simple, .dpl-board-notice-large, .dpl-board-success, .dpl-board-success-simple, .dpl-board-success-large, .dpl-board-alert, .dpl-board-alert-simple, .dpl-board-alert-large, .dpl-board-error, .dpl-board-error-simple, .dpl-board-error-large {
margin: 10px 0;
border-width: 1px;
border-style: solid;
padding: 10px;
font-size: 12px;
background-image: url(../images/dpl_notice.png?t=d0c26aa9_0);
background-repeat: no-repeat;
}
.dpl-board-notice {
border-color: #c4d3e5;
padding-left: 38px;
background-color: #f6f9fd;
background-position: -350px 0;
}
/*end of password tips*/


.formButton {
text-align: center!important;
padding: 15px 0!important;
}

input, select, textarea {
font: 13px Roboto,Helvetica,Tahoma,Arial,sans-serif;
}

.dpl-btn, .dpl-btn-strong, .dpl-btn-smaller, .dpl-btn-larger, .dpl-btn-blue, .dpl-btn-blue-strong, .dpl-btn-blue-smaller, .dpl-btn-gray, .dpl-btn-gray-strong, .dpl-btn-gray-smaller, .dpl-btn-disabled {
background-color: #fffbca;
cursor: pointer;
background-image: url(../images/dpl_button.png?t=16806b72_0);
background-repeat: repeat-x;
border: 1px solid #f19722;
border-bottom-color: #bcbcbc;
padding: 0 12px;
height: 27px;
font-size: 12px;
font-family: Roboto,Helvetica,Tahoma,Arial,sans-serif;
color: #99370b;
overflow: visible;
}
.dpl-btn, .dpl-btn-strong, .dpl-btn-blue, .dpl-btn-blue-strong, .dpl-btn-gray, .dpl-btn-gray-strong, .dpl-btn-disabled {
_height: 27px;
_padding: 0 12px;
}
.formButton .dpl-btn, .formButton .dpl-btn-blue {
margin: 0 15px;
font-weight: 700!important;
}

/*cancel*/
.dpl-btn-gray, .dpl-btn-gray-strong, .dpl-btn-gray-smaller {
color: #666;
border-color: #b5b5b5;
border-bottom-color: #bcbcbc;
background-color: #fdfdfd;
background-position: 0 -69px;
}

.tables.V td td {
padding: 0;
}


.hide {
	display: none;
}

.error-tipbox, .ok-tipbox {
line-height: 18px;
margin: 2px 0;
border: 1px solid #fff;
background: transparent url(../images/ws-join.png?t=9984100_0) no-repeat;
padding: 5px 10px;
}

.error-tipbox {
border-color: #ffcacd;
padding-left: 34px;
background-color: #ffeeef;
background-position: 0 -65px;
}
