@charset "utf-8";


table, td{
word-wrap: break-word;
word-break: break-all;
word-break: normal;
}

#handleforgotYourPassword {
width: 620px;
border: 1px solid #c1cee0;
padding-left: 20px;
margin: 30px auto;
}

.input-box {
line-height: 35px;
}

.enterText {
margin-left: 5px;
width: 280px;
height: 22px;
border: 1px solid #9f9f9f;
padding-left: 3px;
}

.input-box th {
padding-right: 5px;
font-weight: bolder;
}

.box-bottom {
background-color: #eff4fa;
height: 38px;
margin: 20px 0 0 -20px;
font-family: Verdana;
padding-right: 40px;
}

.fypButton {
background: url("http://img.alibaba.com/images/eng/style/css_images/myalibaba/forget_pwd_images.gif") 0 -48px no-repeat;
cursor: pointer;
width: 81px;
height: 27px;
font-weight: bold !important;
display: inline-block;
float: right;
margin: 5px 25px 0 0;
border: none;
color: #6C2300 !important;
}