@charset "utf-8";

#page960 {
padding: 0 30px 20px;
}

a, a:visited {
text-decoration: none;
color: #06c;
}

.util-clearfix:after, .clearfix:after {
visibility: hidden;
display: block;
height: 0;
font-size: 0;
content: '\0020';
clear: both;
}

table {
display: table;
border-collapse: separate;
border-spacing: 2px;
border-color: gray;
}

table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

.table-list {
border-collapse: collapse;
}

.widthfixed {
table-layout: fixed;
word-wrap: break-word;
word-break: break-all;
word-break: normal;
}

.thead-grey-gradient {
background: transparent url(../images/table_list_th_bg.gif) repeat-x scroll left bottom;
height: 34px;
}

.thead-grey-gradient tr {
height: 34px;
line-height: 34px;
}

.table-list td, .table-list th {
text-align: left;
}

.thead-grey-gradient th {
font-weight: bolder;
}


.table-list tbody {
border-width: 1px 0;
border-style: solid;
border-color: #ccc;
}

.widthfixed td {
word-wrap: break-word;
}

.table-list td {
padding: 8px;
}
b, strong {
font-weight: 700;
}

td .button_pay {
color: #333;
}


.ui-button {
display: inline-block;
position: relative;
overflow: visible;
color: #333;
}

input.ui-button {
padding: .4em 1em;
}

.ui-button-primary, .ui-button-normal, .ui-button-primary-s, .ui-button-normal-s, .ui-button-primary-l, .ui-button-normal-l {
margin: 0;
font-family: Arial;
text-align: center;
vertical-align: middle;
color: #333;
border: solid 1px #bcbcbc;
background-color: #f7f7f7;
cursor: pointer;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
margin-bottom: 5px;
}

.ui-button-primary-s, .ui-button-normal-s {
font-size: 12px;
font-weight: bold;
line-height: 14px;
padding: 2px 10px;
}

.ui-button-normal, .ui-button-normal-s, .ui-button-normal-l, .ui-button-normal:active, .ui-button-normal-s:active, .ui-button-normal-l:active {
background-color: #eee;
background-image: -moz-linear-gradient(top,#fafafa,#e8e8e8);
background-image: -ms-linear-gradient(top,#fafafa,#e8e8e8);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#e8e8e8));
background-image: -webkit-linear-gradient(top,#fafafa,#e8e8e8);
background-image: -o-linear-gradient(top,#fafafa,#e8e8e8);
background-image: linear-gradient(top,#fafafa,#e8e8e8);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#e8e8e8',GradientType=0);
}

.ui-button:visited {
color: #333;
}