<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.ru.own.www.mybatis.dao.AdminUserMapper">
  <select id="selectAdminUserById" resultType="admin.ru.own.www.entity.AdminUser">
    select u_id  as "UId", u_name as "UName" from admin_user where u_id = #{id}
  </select>
</mapper>