<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.ru.own.www.mybatis.dao.AttrValueMapper">

  
  <insert id="insertForeignAttrValue" useGeneratedKeys="true" keyProperty="id" parameterType="admin.ru.own.www.entity.AttributeValueMultiLanguage">
     insert  into attribute_valuemultilanguage(lan_id,attr_value_id,foreign_name,foreign_title,foreign_keywords,foreign_description)
        values(#{lan_id},#{attrvalue_id},#{name},#{title},#{keywords},#{description})
  </insert>
  
  <delete id="delAttrValue" parameterType="java.lang.Integer">
        delete from attribute_value where attr_value_id=#{id};delete from attribute_valuemultilanguage where attr_value_id=#{id}
  
  </delete>
  
  
  <!--配置一个resultMap 指定返回的类型 -->
  <resultMap id="AttrValuesById" type="admin.ru.own.www.entity.AttributeValueMultiLanguageShow">
      <id column="id" property="id" />
      <result column="attr_value_id" property="attrvalue_id" />
      <result column="language_name" property="language_name" />
      <result column="foreign_name" property="name" />
      <result column="foreign_title" property="title" />
      <result column="foreign_keywords" property="keywords" />
      <result column="foreign_description" property="description" />
  </resultMap>
    <resultMap type="admin.ru.own.www.vo.AttributeValueVO" id="atrvo">
    	<association property="atrValue" resultMap="atrvalue"></association>
    </resultMap>
    
  <select id="getAttrValuesMultiLangShowByAttrId" parameterType="java.lang.Integer" resultMap="AttrValuesById">
    select c.id,c.attr_value_id,c.foreign_name,c.foreign_title,
    c.foreign_keywords,c.foreign_description,l.language_name from attribute_valuemultilanguage c join language l where attr_value_id=#{id} and c.lan_id=l.lan_id
  </select>
  
  <select id="getAttrValueByAttrId" parameterType="java.lang.Integer"  resultType="admin.ru.own.www.entity.AttributeValue">
    select attr_value_id attrValueId,attr_value_name attrValueName,attr_id attrId,
    attr_status attrStatus,category_id categoryId from attribute_value   where attr_value_id=#{id} 
  </select>
  
  <update id="attrValue_modify_basic" parameterType="admin.ru.own.www.entity.AttributeValue" flushCache="true"  timeout="20">
    update attribute_value  set attr_value_name=#{attrValueName}  where attr_value_id=#{attrValueId}
  </update>
  
  <update id="attrValue_modify_xiangxi" parameterType="admin.ru.own.www.entity.AttributeValueMultiLanguage" flushCache="true"  timeout="20">
    update attribute_valuemultilanguage  set foreign_name=#{name},foreign_title=#{title},
    foreign_keywords=#{keywords},foreign_description=#{description} where id=#{id}
  </update>
    
    <resultMap type="admin.ru.own.www.entity.AttributeValue" id="atrvalue">
    	<id property="attrValueId" column="attr_value_id"/>
    	<result property="attrValueName" column="attr_value_name"/>
    	<result property="attrId" column="attr_id"/>
    	<result property="categoryId" column="category_id"/>
    </resultMap>
    
    <select id="getAttributeValue" parameterType="int" resultMap="atrvo">
    	SELECT * FROM own.attribute_value where attr_value_id = #{id}
	</select>
	
	<select id="getAttributeValues" parameterType="int" resultMap="atrvo">
    	SELECT * FROM own.attribute_value where attr_id = #{id}
	</select>
	
	<select id="getMultiAttributeValues" parameterType="Map" resultMap="atrvo">
		SELECT v.attr_value_id, 
		v.attr_id,
		v.category_id,
		mv.foreign_name as attr_value_name
		FROM own.attribute_value as v,own.attribute_valuemultilanguage as mv 
		where v.attr_value_id = mv.attr_value_id
		and v.attr_id = #{attrID} 
		and mv.lan_id=#{lanID}
	</select>
	
	<select id="getAttributeValueBATCH" parameterType="list" resultMap="atrvo">
    	SELECT * FROM own.attribute_value where attr_value_id in 
    	<foreach collection="list"  item="item" separator="," open="(" close=")" >
    		#{item}
    	</foreach>
	</select>
	
	<insert id="insert" parameterType="admin.ru.own.www.entity.AttributeValue" useGeneratedKeys="true" keyProperty="attrValueId">  
        insert into attribute_value (attr_value_name, attr_id) values (#{attrValueName}, #{attrId})  
    </insert>
    
    <delete id="delete" parameterType="int">
  	  delete from attribute_value where attr_value_id=#{p_id}    
    </delete>
    
    <select id="getTextInputStyleAtrValueIDListByProductID" resultType="int">
		SELECT v.attr_value_id FROM own.product_basic_attr as p,own.attribute as a,own.attribute_value as v where p.attr_value_id=v.attr_value_id and v.attr_id = a.attr_id and a.input_style!=2;
	</select>
</mapper>