<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.ru.own.www.mybatis.dao.ProductOperationMapper">
	
	<resultMap type="admin.ru.own.www.vo.ProductMultiLanguageVO" id="pmlvo">
		<association property="productMultiLanguage" resultMap="pml"></association>
		<association property="language"  resultMap="admin.ru.own.www.mybatis.dao.LanguageMapper.allLanguage"></association>
	</resultMap>
	
	<resultMap type="admin.ru.own.www.entity.ProductMultiLanguage" id="pml" autoMapping="true"></resultMap>
	<!-- <select id="selectAdminUserById" resultType="admin.ru.own.www.entity.AdminUser"> 
		select u_id as "UId", u_name as "UName" from admin_user where u_id = #{id} 
		</select> -->
	<insert id="insertPorductByBatch" useGeneratedKeys="true"
		keyProperty="pid" parameterType="admin.ru.own.www.entity.UpProduct">
		insert into products
		(p_name,p_purchaprice,p_originprice,p_nowprice,p_brandid,p_categoryid,
		p_fromcompany,p_companyserinum,p_myserialnumber,p_fromnetaddress,p_storenumber,p_minbuyamount,
		p_freemail,p_jifen,p_hot,p_recommend,p_new,p_date_added,p_last_modified,p_status,p_beizhu)
		values
		(#{productname},#{buyprice},#{originprice},#{nowPrice},#{brandId},#{categoryId},
		#{companyname},#{companyorder},#{myorder},#{fromurl},#{storNumber},#{minBuyCount},
		#{nomailtax},#{jifen},#{isHot},#{isRecommend},#{isNew},now(),now(),#{status},#{beizhu})
	</insert>

	<insert id="insertProductMultiLanguage" useGeneratedKeys="true"
		keyProperty="id" parameterType="admin.ru.own.www.entity.ProductMultiLanguage">
		insert into productmultilanguage
		(product_id,lan_id,product_name,product_desc,title,keywords,description,createtime,modifytime)
		values
		(#{product_id},#{lan_id},#{product_name},#{product_desc},#{title},#{keywords},#{description},now(),now())
	</insert>

	<insert id="insertProductImage" useGeneratedKeys="true"
		keyProperty="id" parameterType="admin.ru.own.www.entity.productImage">
		insert into product_image
		(image_addr,p_id,image_sort,createtime)
		values
		(#{imageAddr},#{productId},#{imageSort},now())
	</insert>

	<select id="getAllLanguage" parameterType="int" resultMap="pmlvo">
		select  * from own.productmultilanguage as p, own.language as l where p.lan_id=l.lan_id and p.product_id=#{product_id}
	</select>
	<select id="getProductMultiLanguage" parameterType="int" resultType="admin.ru.own.www.entity.ProductMultiLanguage">
		select  * from own.productmultilanguage where id=#{id}
	</select>
	<update id="updateProductDesc" parameterType="admin.ru.own.www.entity.ProductMultiLanguage">
		update own.productmultilanguage set
	    product_detail_desc= #{product_detail_desc} 
    	where id=#{id}
	</update>
	<update id="update" parameterType="admin.ru.own.www.entity.ProductMultiLanguage">
		update own.productmultilanguage set
    	title = #{title},
    	product_name = #{product_name},
    	keywords = #{keywords},
    	description= #{description},
    	product_desc= #{product_desc} 
    	where id=#{id}
	</update>
	
	<select id="getProductByPIdWithLanId"  resultType="admin.ru.own.www.entity.Products">
        select  p.p_id,p.p_originprice,p.p_nowprice,p.p_storenumber,p.p_minbuyamount,p.p_freemail,p.p_jifen,p.p_weight,p.p_freight_templet,
        mp.product_name p_name,mp.product_detail_desc,mp.product_desc,mp.title title,mp.keywords keywords,mp.description description
        from own.products p, own.productmultilanguage mp where p.p_id=#{0} and mp.product_id=p.p_id and mp.lan_id=#{1}
    </select>
</mapper>