<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.ru.own.www.mybatis.dao.ShippingTemplateMapper">

	  <insert id="saveShippingTemplateName" useGeneratedKeys="true" keyProperty="id" parameterType="admin.ru.own.www.entity.ShippingTemplate">
	     insert  into shipping_template(name,createtime)values(#{name},now())
	  </insert>
	  
	  <insert id="saveShippingTemplate" useGeneratedKeys="true" keyProperty="id" parameterType="admin.ru.own.www.entity.ShippingTemplateXiangxi">
	     insert  into shipping_template_fee(templateId,shippingId,shippingStyle,shippingCountryIds,selectMode,standardFee,selectQWPattern,
	     
	     cl_min,cl_max,cl_price,cl_add_num,cl_add_price,weight_end0,weight_price0,weight_end1,weight_interval1,weight_price1,
	     
	     createtime)values(#{templateId},#{shippingId},#{shippingStyle},#{shippingCountryIds},#{selectMode},#{standardFee},#{selectQwpattern},#{clMin},
	     
	     #{clMax},#{clPrice},#{clAddNum},#{clAddPrice},#{weightEnd0},#{weightPrice0},#{weightEnd1},#{weightInterval1},#{weightPrice1},now())
	  </insert>
	  
	  <insert id="saveShippingTemplateTime" useGeneratedKeys="true" keyProperty="id" parameterType="admin.ru.own.www.entity.ShippingTemplateTime">
	     insert  into shipping_template_time(templateId,shippingId,timeStyle,shippingCountryIds,shippingTime,createtime)values(#{templateId},#{shippingId},
	     #{timeStyle},#{shippingCountryIds},#{shippingTime},now())
	  </insert>

    <update id="modifyShippingTemplateName" parameterType="admin.ru.own.www.entity.ShippingTemplate" flushCache="true"  timeout="20">
        update shipping_template  set name=#{name},createtime=now() where id=#{id}
    </update>
     
    <delete id="deleteShippingTemplateById" parameterType="int">
  	  	delete from shipping_template where id=#{id};  delete from shipping_template_fee  where templateId=#{id}; delete from shipping_template_time  where templateId=#{id}  
    </delete>
    
    <delete id="deleteShippingTemplateXiangAndTimeByTemplateId" parameterType="admin.ru.own.www.entity.ShippingTemplate">
        delete from shipping_template_fee  where templateId=#{id}; delete from shipping_template_time  where templateId=#{id}
    </delete>
     
     <select id="getAllShippingTemplate" resultType="admin.ru.own.www.entity.Shipping">
     	select * from shipping_template
     </select>
     
     <select id="fetchAllShippingTemplate" resultType="admin.ru.own.www.entity.ShippingTemplate">
     	select * from shipping_template
     </select>
     
     <select id="getShipTemplateByTemplateId" parameterType="int" resultType="admin.ru.own.www.entity.ShippingTemplate">
        select * from shipping_template where id=#{id}
     </select>
     
     <!-- 获取需要编辑的货运模板的类型 -->
     <resultMap type="admin.ru.own.www.entity.shipTemplateEdit" id="steList">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="st_id" column="st_id"/>

        <collection property="timeMode"  column="{templateId=st_id,shipId=id}"  ofType="admin.ru.own.www.entity.ShippingTemplateTime" select="selectTimeMode"></collection>
        <collection property="shipMode"  column="{templateId=st_id,shipId=id}"  ofType="admin.ru.own.www.entity.ShippingTemplateXiangxi" select="selectShipMode"></collection>
     </resultMap>
     
     <resultMap type="admin.ru.own.www.entity.ShippingTemplateTime" id="timeModeList"><!-- product img vo map -->
        <result property="id" column="id"/>
        <result property="templateId" column="templateId"/>
        <result property="shippingId" column="shippingId"/>
        <result property="timeStyle" column="timeStyle"/>
        <result property="shippingCountryIds" column="shippingCountryIds"/>
        <result property="shippingTime" column="shippingTime"/>

     </resultMap>
     
     <select id="selectTimeMode"  resultMap="timeModeList">
        select id, templateId, shippingId, timeStyle, shippingCountryIds, shippingTime from  shipping_template_time t  where t.templateId=#{templateId} and t.shippingId=#{shipId}
    </select>

    <select id="selectShipMode" resultType="admin.ru.own.www.entity.ShippingTemplateXiangxi">
        select id id,templateId templateId,shippingId shippingId,shippingStyle shippingStyle,shippingCountryIds shippingCountryIds,
        selectMode selectMode,standardFee standardFee,selectQWPattern selectQWPattern, cl_min clMin ,cl_max clMax,cl_price clPrice,
        cl_add_num clAddNum, cl_add_price clAddPrice,weight_end0 weightEnd0, weight_price0 weightPrice0,weight_end1 weightEnd1,
         weight_interval1  weightInterval1,weight_price1 weightPrice1
          from  shipping_template_fee c  where c.templateId=#{templateId} and c.shippingId=#{shipId}
    </select>
    
    <select id="getShipTemplateEditByTemplateId" resultMap="steList">
        select s.*,c.id st_id from  shipping_template c , shipping s where c.id=#{0}
    </select>
    
    <select id="getShipInfoByTemplateIdAndCountryId" resultMap="ssvoList">
        select f.*,t.*,t.shippingCountryIds tShippingCountryIds,s.id sid,s.name sname 

		from  shipping_template_fee f left join 
		
		shipping_template_time t on t.templateId=f.templateId and t.shippingId=f.shippingId and (t.shippingCountryIds like CONCAT(CONCAT('%', #{1}), '%') or  t.timeStyle=0)
		
		left join shipping s on f.shippingId=s.id and s.status=1
		
		where (f.shippingCountryIds like CONCAT(CONCAT('%', #{1}), '%') or f.shippingStyle=0) and f.templateId=#{0};
    </select>
    
    <resultMap  id="ssvoList" type="ru.own.www.entity.ShippingShowVO">
          <association property="ship" javaType="admin.ru.own.www.entity.Shipping">
            <id property="id" column="sid"/>
	        <result property="name" column="sname"/>
          </association>
          <association property="shipFee" javaType="admin.ru.own.www.entity.ShippingTemplateXiangxi">
	        <result property="templateId" column="templateId"/>
	        <result property="shippingStyle" column="shippingStyle"/>
	        <result property="shippingCountryIds" column="shippingCountryIds"/>
	        <result property="selectMode" column="selectMode"/>
	        <result property="standardFee" column="standardFee"/>
	        <result property="selectQwpattern" column="selectQWPattern"/>
	        <result property="clMin" column="cl_min"/>
	        <result property="clMax" column="cl_max"/>
	        <result property="clPrice" column="cl_price"/>
	        <result property="clAddNum" column="cl_add_num"/>
	        <result property="clAddPrice" column="cl_add_price"/>
	        <result property="weightEnd0" column="weight_end0"/>
	        <result property="weightPrice0" column="weight_price0"/>
	        <result property="weightEnd1" column="weight_end1"/>
	        <result property="weightInterval1" column="weight_interval1"/>
	        <result property="weightPrice1" column="weight_price1"/>
          </association>
          <association property="shipTime" javaType="admin.ru.own.www.entity.ShippingTemplateTime">
	        <result property="templateId" column="templateId"/>
	        <result property="shippingId" column="shippingId"/>
	        <result property="timeStyle" column="timeStyle"/>
	        <result property="shippingCountryIds" column="tShippingCountryIds"/>
	        <result property="shippingTime" column="shippingTime"/>
          </association>
          
     </resultMap>
     
</mapper>