@charset "utf-8";


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, details, dialog, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6 {
margin: 0;
}
body {
font-size: 75%;
color: #000;
font-family: Arial,Helvetica,sans-senif,SimSun,"宋体";
line-height: 1.3;
}

/*订单信息主页面*/
#page {
margin: 0 auto;
width: 100%;
position: relative;
}

/*进度条*/
.ui-step {
margin: 20px 0;
}
.ui-step:after {
content: '';
display: table;
clear: both;
}
ol, ul {
list-style: none;
}

ol {
list-style: decimal;
}

.ui-step-normal .col4 li {
width: 33.3%;
}

.ui-step .col4 li {
width: 24.9%;
}

li {
margin-left: 0;
}

li {
margin-left: 30px;
display: list-item;
}

.ui-step-normal li {
list-style: none;
float: left;
margin: 0;
}

/*当前状态*/
.ui-step-normal li.current span {
background-color: #F90;
color: #FFF;
}

.ui-step-normal li span {
background: #E8E8E8 url(../images/sprite-step.png) no-repeat 100% 0;
color: #666;
}

.ui-step-normal li span {
font-size: 12px;
font-weight: 700;
height: 20px;
line-height: 20px;
overflow: hidden;
padding: 0 15px 0 0;
text-align: center;
display: block;
}

.ui-step-normal li {
list-style: none;
float: left;
margin: 0;
}

/*last*/
.ui-step-normal li span.last, .ui-step-normal li.last span {
background-position: 100% -200px;
}

/*feedback*/
p.ui-feedback-addon.ui-feedback-body {
font-size: 12px;
color: #333;
line-height: 16px;
}

p.ui-feedback-addon.ui-feedback-error {
border: 1px solid #ffd4d2;
background-color: #ffefee;
background-position: -110px 0;
}

p.ui-feedback-addon.ui-feedback-error, p.ui-feedback-addon.ui-feedback-alert, p.ui-feedback-addon.ui-feedback-success {
padding: 4px 10px 4px 37px;
background: transparent url(../images/sprite-feedback-addon.png) no-repeat 0 0;
}

.order-warn-tips .ui-feedback, .order-warn-tips .ui-notice {
margin-bottom: 10px;
}



.ui-notice .ui-notice-prompt, p.ui-notice.ui-notice-normal.ui-notice-prompt {
position: relative;
padding: 4px 30px 4px 10px;
border: 2px solid #cee6ff;
}

.ui-notice-normal .ui-notice-prompt, p.ui-notice.ui-notice-normal.ui-notice-prompt {
padding-left: 35px;
background-position: 10px -82px;
}

p.ui-notice.ui-notice-normal, .ui-notice-normal .ui-notice-alert, .ui-notice-normal .ui-notice-help, .ui-notice-normal .ui-notice-prompt {
background: #fff url(../images/sprite-notice-addon.png?t=c41fb6f4_0) no-repeat 0 0;
}

.ui-notice {
font-size: 12px;
line-height: 18px;
}

.ui-notice .ui-notice-body, p.ui-notice .ui-notice-body {
color: #333;
}

.ui-notice .ui-notice-body {
color: #666;
font-size: 12px;
line-height: 18px;
}

/*shipping info*/
button, input {
overflow: visible;
line-height: normal;
}

button, input, select, textarea {
font-size: 100%;
margin: 0;
vertical-align: baseline;
}

button, input, select, textarea {
margin: 0;
font-size: 100%;
vertical-align: middle;
}

a {
color: #06c;
text-decoration: none;
}

.edit-address-title, .address-title {
font-size: 16px;
font-weight: 700;
color: #333;
line-height: 30px;
height: 30px;
padding: 0 0 10px;
border-bottom: 1px solid #eee;
}

.address-info-box {
padding-top: 18px;
}

.address-info-item {
padding-top: 12px;
}
.address-info-item {
position: relative;
padding-left: 170px;
}

.city-address-item {
padding-top: 10px;
}

.address-info-item dt {
position: absolute;
width: 160px;
line-height: 24px;
margin-left: -170px;
text-align: right;
font-weight: 700;
color: #666;
}

.address-info-item .ui-form-control {
position: relative;
}

.address-info-item dd {
margin-left: 0;
position: relative;
}

.util-clearfix {
zoom: 1;
}

dd {
margin-left: 0;
}

dd {
margin-bottom: 0;
}

dd {
margin: 0 0 0 40px;
}

.util-clearfix:after {
visibility: hidden;
display: block;
height: 0;
font-size: 0;
content: '\0020';
clear: both;
}

.address-info-item dd .ui-textfield {
float: left;
margin: 0 5px 5px 0;
width: 235px;
}

.ui-textfield-system {
height: 14px;
padding: 5px 4px;
font-family: inherit;
font-weight: 400;
font-size: 12px;
line-height: 14px;
color: #333;
background-color: #fff;
border: 1px solid #ccc;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
-webkit-transition: border linear .2s;
-moz-transition: border linear .2s;
-ms-transition: border linear .2s;
-o-transition: border linear .2s;
transition: border linear .2s;
}

.ui-textfield {
display: inline-block;
overflow: visible;
outline: none;
}

.address-info-item dd .select-txt {
float: left;
margin: 0 5px 5px 0;
}

.address-info-item dd select {
padding: 4px 0;
width: 248px;
border: 1px solid #ccc;
font-family: arial;
}

.address-info-item p.tips-txt {
color: #999;
line-height: 22px;
}

/*电话*/
.address-info-item dd .ui-countryNumber {
width: 40px;
}
.address-info-item dd .ui-areaNumber {
width: 40px;
}

.address-info-item dd .ui-localNumber {
width: 120px;
}

/*button 添加shipping*/
.address-field-buttons {
padding: 15px 0 0 170px;
height: 35px;
}

.address-field-buttons .ui-button-primary {
margin-right: 10px;
}

.ui-button-primary:hover, .ui-button-normal:hover {
text-decoration: none;
}

.ui-button-primary, .ui-button-primary:link, .ui-button-primary:visited, .ui-button-primary:active {
color: #fff;
border: 1px solid #e87b0e;
background-color: #ff9917;
background-image: -moz-linear-gradient(top,#ffab02,#ff8a28);
background-image: -ms-linear-gradient(top,#ffab02,#ff8a28);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffab02),to(#ff8a28));
background-image: -webkit-linear-gradient(top,#ffab02,#ff8a28);
background-image: -o-linear-gradient(top,#ffab02,#ff8a28);
background-image: linear-gradient(top,#ffab02,#ff8a28);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab02', endColorstr='#ff8a28', GradientType=0);
}
.ui-button.ui-button-primary, .ui-button.ui-button-normal {
margin: 0;
font-family: inherit;
font-weight: 700;
text-align: center;
vertical-align: middle;
cursor: pointer;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}

.ui-button-primary, .ui-button-primary:link, .ui-button-primary:visited, .ui-button-primary:active {
color: #fff;
border: 1px solid #e87b0e;
background-color: #ff9917;
background-image: -moz-linear-gradient(top,#ffab02,#ff8a28);
background-image: -ms-linear-gradient(top,#ffab02,#ff8a28);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffab02),to(#ff8a28));
background-image: -webkit-linear-gradient(top,#ffab02,#ff8a28);
background-image: -o-linear-gradient(top,#ffab02,#ff8a28);
background-image: linear-gradient(top,#ffab02,#ff8a28);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab02', endColorstr='#ff8a28', GradientType=0);
}
.ui-button-primary, .ui-button-primary:link, .ui-button-primary:visited, .ui-button-primary:active {
color: #fff;
border: 1px solid #e87b0e;
background-color: #ff9917;
background-image: -moz-linear-gradient(top,#ffab02,#ff8a28);
background-image: -ms-linear-gradient(top,#ffab02,#ff8a28);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffab02),to(#ff8a28));
background-image: -webkit-linear-gradient(top,#ffab02,#ff8a28);
background-image: -o-linear-gradient(top,#ffab02,#ff8a28);
background-image: linear-gradient(top,#ffab02,#ff8a28);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab02', endColorstr='#ff8a28', GradientType=0);
}

.ui-button {
display: inline-block;
position: relative;
overflow: visible;
}

.ui-button-medium {
font-size: 14px;
line-height: 18px;
padding: 3px 15px;
}

/*地址显示*/


.edit-address-title, .address-title {
font-size: 16px;
font-weight: 700;
color: #333;
line-height: 30px;
height: 30px;
padding: 0 0 10px;
border-bottom: 1px solid #eee;
}

.address-list-main {
margin-right: -20px;
}

.address-title {
border-bottom: 0 none;
}

.address-item-box {
position: relative;
width: 300px;
display: inline-block;
zoom: 1;
vertical-align: top;
margin: 0 20px 20px 0;
background: url(../images/shopcart-address-bg-grey.png) repeat;
padding: 5px;
cursor: pointer;
}

.selectedAddress, .addressHover {
background: url(../images/shopcart-address-bg.png) repeat !important;
}

.address-item-inner {
background: #fff;
min-height: 164px;
padding: 15px 30px;
}

input[type=checkbox], input[type=radio] {
box-sizing: border-box;
padding: 0;
}

.select-radio-input {
position: absolute;
top: 26px;
left: 15px;
z-index: 3;
}
.selectedAddress .select-icon {
display: block;
}
.select-icon {
display: none;
position: absolute;
top: 0;
left: 0;
z-index: 1;
width: 34px;
height: 34px;
background: url(../images/shopcart-confirm-icon.png) no-repeat 0 -200px;
}

.address-item-box .ship-address-tips {
display: none;
position: absolute;
top: 10px;
right: 12px;
color: #999;
}

/*具体地址*/
.address-item-inner dt {
font-size: 18px;
line-height: 25px;
font-weight: 700;
word-break: break-all;
}
.address-item-inner dd {
line-height: 20px;
}

/*地址编辑*/



.operation-address a, .edit-address-btn a {
padding-left: 15px;
margin-right: 20px;
color: #333;
background: url(../images/shopcart-confirm-icon.png) no-repeat -150px -248px;
}

.edit-address-btn a {
padding-left: 15px;
color: #333;
background: url(../images/shopcart-confirm-icon.png) no-repeat -150px -200px;
}

.edit-address-btn a {
background-position: -150px -200px;
font-weight: 700;
}

/*地址操作*/
.operation-address {
margin-top: -10px;
padding-bottom: 10px;
}

.operation-address a.return-address {
background-position: -150px -348px;
}

/*订单容器*/
.order-container {
position: relative;
z-index: 1;
width: 100%;
padding-top: 20px;
overflow: hidden;
}
/*点击添加邮寄信息时的，不可编辑层*/
.order-container-mask {
position: absolute;
z-index: 6;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #FFF;
overflow: hidden;
filter: Alpha(opacity=60);
opacity: .6;
}

.hack-iframe {
position: absolute;
margin: 0 auto;
width: 100%;
height: 100%;
border: none;
display: block;
overflow: hidden;
filter: Alpha(opacity=60);
opacity: .6;
}

/*titel*/
.order-title h2 {
font-size: 16px;
font-weight: 700;
color: #333;
}

/*order item*/
.order-table-wrapper {
margin-top: 20px;
padding: 15px 20px 30px;
border: 3px solid #eee;
}

.order-table {
width: 100%;
table-layout: fixed;
word-break: break-word;
}

table {
border-collapse: collapse;
}

table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
font-size: 100%;
font: inherit;
}

table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
font-size: 100%;
font: inherit;
}

thead {
display: table-header-group;
vertical-align: middle;
border-color: inherit;
}

tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}
caption, th, td {
font-weight: 400;
float: none!important;
}
.order-table thead th {
font-weight: 400;
text-align: left;
color: #999;
padding-bottom: 10px;
}

/*tbody*/
tbody {
display: table-row-group;
vertical-align: middle;
border-color: inherit;
}

.order-table tbody th {
color: #999;
border-bottom: 1px solid #eee;
text-align: left;
padding-bottom: 10px;
}

caption, th, td {
font-weight: 400;
float: none!important;
}

.order-table tbody td {
padding: 15px 0;
vertical-align: top;
border-bottom: 1px solid #eee;
}
/*商品信息*/
ul {
list-style: none;
}

li {
margin-left: 30px;
display: list-item;
}
li {
margin-left: 0;
}
.item-details-list li {
padding: 0 8px;
}
/*商品图片*/
.item-details .pimg, .feedback-already-list .pimg {
float: left;
padding-right: 15px;
width: 80px;
}
.order-table tbody a {
color: #333;
}

a:hover {
color: #f90;
text-decoration: underline;
}
.order-table tbody a:hover {
color: #f90;
}

.item-details .pimg img {
width: 80px;
height: 80px;
vertical-align: middle;
}
a img {
border: none;
}

img {
color: transparent;
font-size: 0;
border: 0;
vertical-align: middle;
-ms-interpolation-mode: bicubic;
}

/*info*/
.item-details .p-info {
float: left;
width: 356px;
padding-right: 50px;
padding-bottom: 12px;
}

.item-details .p-title, .feedback-already-list .p-title {
padding-bottom: 10px;
}

.order-table tbody a {
color: #333;
}
/*sku*/
.p-sku {
line-height: 16px;
}

.p-keys {
padding-right: 5px;
color: #999;
}

.p-value {
color: #333;
}
/*extra info*/

.item-details .p-extra .p-price {
line-height: 16px;
color: #333;
}
.item-details .p-extra {
float: right;
width: 203px;
padding: 0 10px;
}

.item-details .p-extra .p-price {
line-height: 16px;
color: #333;
}

.item-details .product-quantity-input {
width: 35px;
background: #fff;
}
.ui-textfield-system {
height: 14px;
padding: 5px 4px;
font-family: inherit;
font-weight: 400;
font-size: 12px;
line-height: 14px;
color: #333;
background-color: #fff;
border: 1px solid #ccc;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
-webkit-transition: border linear .2s;
-moz-transition: border linear .2s;
-ms-transition: border linear .2s;
-o-transition: border linear .2s;
transition: border linear .2s;
}

.ui-textfield {
display: inline-block;
overflow: visible;
outline: none;
}

/*数量*/
.p-price .txt-unit-quantity {
color: #999;
}
/*乘号*/
.p-price .txt-multiply {
padding: 0 10px;
color: #999;
}
/*留言*/
.p-message {
margin-left: 95px;
color: #999;
padding: 8px 0;
line-height: 1.2em;
}
.p-message-title {
color: #666;
}

.ui-textfield.multiple {
height: auto;
}

.no-hit {
color: #999;
}

.message-text {
margin-top: 5px;
width: 453px;
line-height: 18px;
padding: 3px;
height: 36px!important;
}

.message-text-tip {
margin-top: 5px;
width: 413px;
}

p {
margin: 0;
}

/*order shipment info*/
.order-table .order-shipment-info {
padding: 15px 8px;
text-align: right;
}

.order-shipment-info .product-shipping-select {
background: url(http://i02.i.aliimg.com/images/eng/wholesale/sprite/spr_we_buyer_common.png) no-repeat scroll 100% -2596px #fff;
border: 1px solid #C6C6C6;
clear: both;
cursor: pointer;
display: inline-block;
font-size: 12px;
height: 24px;
line-height: 24px;
padding: 0 19px 0 5px;
position: relative;
text-align: left;
white-space: nowrap;
z-index: 1;
margin-bottom: 15px;
width: auto;
color: #333;
}
.order-table .order-shipment-info {
padding: 15px 8px;
text-align: right;
position: relative;
}
.order-shipment-info p {
padding-bottom: 5px;
}

.free-shipping {
font-weight: 700;
color: #333;
}

.order-shipment-info .ship-info {
color: #999;
}

.order-shipment-info p {
padding-bottom: 5px;
}

.order-shipment-info .ship-value {
padding-left: 5px;
color: #333;
}

/*select shipping*/
.pnl-shipping {
font-size: 11px;
position: absolute;
z-index: 1;
width: 325px;
border: 1px solid #c6c6c6;
border-bottom: 2px solid #E3E3E3;
background: #FFF;
text-align: left;
box-shadow: 2px 2px 2px rgba(0,0,0,.1);
top: 41px;
right: 8px;
}

.pnl-shipping .inner {
border-bottom: 1px solid #C6C6C6;
padding: 7px 5px;
}

#page .pnl-shipping li {
padding: 4px 5px 4px 10px;
line-height: 20px;
}

.pnl-shipping li {
font-size: 12px;
}

.pnl-shipping li label {
cursor: pointer;
}

.pnl-shipping .lbl-shipping-remaining {
width: 65px;
color: #999;
}

.pnl-shipping .lbl-shipping-remaining, .pnl-shipping .lbl-shipping-price {
float: right;
text-align: right;
}


.pnl-shipping li label {
cursor: pointer;
}

.pnl-shipping .lbl-shipping-price {
width: 85px;
}

#page .pnl-shipping .price .currency, #page .pnl-shipping .price .value, #product-list .pnl-shipping .price .value, #page .list-foot .pnl-shipping .price .comment {
font-size: 12px;
}

.pnl-shipping li label input {
margin-right: 5px;
}

input[type=checkbox], input[type=radio] {
box-sizing: border-box;
padding: 0;
}

/*OK键（改变货运方式）*/
.pnl-shipping-action {
padding: 8px 0 5px 10px;
}

.pnl-shipping-action .btn-ok {
display: inline-block;
width: 40px;
height: 22px;
overflow: hidden;
border: 0;
background: url(../images/spr_we_buyer_shopcart.png?t=acd0257b_0) no-repeat 0 -1597px;
}

.pnl-shipping-action .btn-ok, .pnl-shipping-action .btn-cancel {
line-height: 22px;
font-size: 11px;
cursor: pointer;
}

button, html input[type=button], input[type=reset], input[type=submit] {
-webkit-appearance: button;
cursor: pointer;
border-radius: 0;
}

.pnl-shipping-action .btn-cancel {
text-decoration: underline;
}

.pnl-shipping-action .btn-ok, .pnl-shipping-action .btn-cancel {
line-height: 22px;
font-size: 11px;
cursor: pointer;
}

/*tfoot*/
tfoot {
display: table-footer-group;
vertical-align: middle;
border-color: inherit;
}

.order-table .order-price {
color: #999;
text-align: right;
padding-top: 10px;
}

.orderPrice-detail.multiple-lan {
width: 330px;
}

.orderPrice-detail {
padding: 5px 0 10px;
width: 280px;
float: right;
clear: both;
}

.orderPrice-detail p {
padding: 5px 0;
}

.orderPrice-detail .p-title {
margin-right: 5px;
float: left;
}

.orderPrice-detail .p-val {
font-weight: 700;
color: #333;
font-weight: 200;
float: right;
}

.orderPrice-total-detail {
clear: both;
width: 280px;
float: right;
}

.orderPrice-total-detail .whole-price-label {
float: left;
}

.orderPrice-total-detail .whole-price {
float: right;
}
.ui-cost {
color: #666;
}
.ui-cost b {
color: #F60;
}
.order-price .whole-price {
font-size: 14px;
padding: 0 0 0 5px;
}
b, strong {
font-weight: 700;
}

/*coupon*/
.coupon-wrapper.ae-coupon {
margin-top: 20px;
}

.coupon-wrapper a.return-btn {
float: left;
font-size: 14px;
color: #999;
background: url(../images/ws-buyer-shopcart.png?t=b61f4789_0) no-repeat -57px 6px;
padding-left: 10px;
}

.ae-coupon .coupon-wrapper-inner {
border-bottom: 1px solid #eee;
padding-bottom: 20px;
}

.coupon-wrapper-inner {
color: #333;
width: 550px;
text-align: left;
float: right;
padding: 0 0 0 20px;
}
.coupon-wrapper-inner {
color: #333;
width: 550px;
text-align: left;
float: right;
padding: 0 0 0 20px;
}
.ae-coupon.coupon-wrapper .coupon-box {
padding-bottom: 20px;
}

.coupon-wrapper .coupon-box {
text-align: right;
}

.seller-coupon.coupon-wrapper label, .ae-coupon.coupon-wrapper label {
width: auto;
}

.coupon-wrapper label {
display: inline-block;
width: 108px;
vertical-align: middle;
padding-left: 15px;
text-align: left;
}

label {
cursor: default;
}

.coupon-wrapper label input {
float: left;
margin: 1px 0 0 -17px;
}

input[type=checkbox], input[type=radio] {
box-sizing: border-box;
padding: 0;
}

.ui-checkbox-system {
width: auto;
height: auto;
margin: 0 3px 3px 0;
line-height: normal;
border: none;
background-color: transparent;
cursor: pointer;
}

.ui-checkbox {
display: inline-block;
}

.ae-coupon .coupon-main-box {
z-index: 9;
}

.coupon-main-box {
display: inline-block;
vertical-align: middle;
width: 255px;
position: relative;
z-index: 10;
text-align: left;
}

.disabled-coupon, .disabled-coupon .coupon-price {
color: #999;
}

.coupon-main-box .coupon-title.disabled {
color: #999;
}

.coupon-main-box .coupon-title {
width: 233px;
overflow: hidden;
height: 25px;
padding: 0 15px 0 5px;
line-height: 26px;
border: 1px solid #ccc;
display: inline-block;
background-color: #fff;
cursor: pointer;
z-index: 2;
position: relative;
}

.coupon-main-box .coupon-title.disabled:after {
border-top: 6px solid #999;
}

.coupon-main-box .coupon-title:after {
content: "";
display: block;
border: 1px solid #fff;
border-left: 5px solid #fff;
border-right: 5px solid #fff;
border-top: 6px solid #333;
position: absolute;
right: 5px;
top: 11px;
height: 0;
width: 0;
}

.order-price .whole-coupon-price, .coupon-price, .unit-price {
color: #000;
padding-left: 5px;
}

.ae-coupon.coupon-wrapper .couponCode-box {
padding-bottom: 0;
}
.ui-textfield.disabled, .ui-textfield.readonly {
border: 1px solid #ccc;
background: #eee;
cursor: normal;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}
.couponCode-box .ui-textfield {
width: 167px;
margin-right: 3px;
}

/*优惠券applay*/
.ui-button {
display: inline-block;
position: relative;
overflow: visible;
}
.ui-button-normal, .ui-button-normal:link, .ui-button-normal:visited, .ui-button-normal:active {
color: #333;
border: 1px solid #bcbcbc;
background-color: #eee;
background-image: -moz-linear-gradient(top,#fafafa,#e8e8e8);
background-image: -ms-linear-gradient(top,#fafafa,#e8e8e8);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#e8e8e8));
background-image: -webkit-linear-gradient(top,#fafafa,#e8e8e8);
background-image: -o-linear-gradient(top,#fafafa,#e8e8e8);
background-image: linear-gradient(top,#fafafa,#e8e8e8);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#e8e8e8', GradientType=0);
}
.ui-button.ui-button-primary, .ui-button.ui-button-normal {
margin: 0;
font-family: inherit;
font-weight: 700;
text-align: center;
vertical-align: middle;
cursor: pointer;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}
.ui-button-normal, .ui-button-normal:link, .ui-button-normal:visited, .ui-button-normal:active {
color: #333;
border: 1px solid #bcbcbc;
background-color: #eee;
background-image: -moz-linear-gradient(top,#fafafa,#e8e8e8);
background-image: -ms-linear-gradient(top,#fafafa,#e8e8e8);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#e8e8e8));
background-image: -webkit-linear-gradient(top,#fafafa,#e8e8e8);
background-image: -o-linear-gradient(top,#fafafa,#e8e8e8);
background-image: linear-gradient(top,#fafafa,#e8e8e8);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#e8e8e8', GradientType=0);
}
.ui-button-normal, .ui-button-normal:link, .ui-button-normal:visited, .ui-button-normal:active {
color: #333;
border: 1px solid #bcbcbc;
background-color: #eee;
background-image: -moz-linear-gradient(top,#fafafa,#e8e8e8);
background-image: -ms-linear-gradient(top,#fafafa,#e8e8e8);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#e8e8e8));
background-image: -webkit-linear-gradient(top,#fafafa,#e8e8e8);
background-image: -o-linear-gradient(top,#fafafa,#e8e8e8);
background-image: linear-gradient(top,#fafafa,#e8e8e8);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#e8e8e8', GradientType=0);
}
.ui-button.disabled, .ui-button.disabled:link, .ui-button.disabled:hover, .ui-button.disabled:active {
color: #cbcbcb;
border: solid 1px #d4d4d4;
cursor: default;
background-color: #e6e6e6;
background-image: -moz-linear-gradient(top,#f5f5f5,#e6e6e6);
background-image: -ms-linear-gradient(top,#f5f5f5,#e6e6e6);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#e6e6e6));
background-image: -webkit-linear-gradient(top,#f5f5f5,#e6e6e6);
background-image: -o-linear-gradient(top,#f5f5f5,#e6e6e6);
background-image: linear-gradient(top,#f5f5f5,#e6e6e6);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#e6e6e6', GradientType=0);
text-shadow: #fff 0 1px 1px;
-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}
.ui-button.disabled, .ui-button.disabled:link, .ui-button.disabled:hover, .ui-button.disabled:active {
color: #cbcbcb;
border: solid 1px #d4d4d4;
cursor: default;
background-color: #e6e6e6;
background-image: -moz-linear-gradient(top,#f5f5f5,#e6e6e6);
background-image: -ms-linear-gradient(top,#f5f5f5,#e6e6e6);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#e6e6e6));
background-image: -webkit-linear-gradient(top,#f5f5f5,#e6e6e6);
background-image: -o-linear-gradient(top,#f5f5f5,#e6e6e6);
background-image: linear-gradient(top,#f5f5f5,#e6e6e6);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#e6e6e6', GradientType=0);
text-shadow: #fff 0 1px 1px;
-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}
/*total price*/
.all-total-price {
margin: 25px auto 0;
width: 100%;
text-align: right;
overflow: hidden;
}

#all-total-price-info {
float: right;
padding-left: 30px;
border-left: 1px solid #eee;
}

.all-total-price-warpper {
float: right;
font-size: 18px;
}

.all-total-price-warpper em {
font-weight: 400;
color: #999;
}

.all-total-price #all-totalfee {
padding-left: 5px;
}

.ui-cost {
color: #666;
}

.ui-cost b {
color: #F60;
}

.place-order-button {
float: right;
clear: both;
padding-top: 15px;
}
.ui-button {
display: inline-block;
position: relative;
overflow: visible;
}
.ui-button-large {
font-size: 18px;
line-height: 18px;
padding: 8px 25px;
}

#bp-banner-new {
float: right;
padding-right: 30px;
}
.bp-horizontal-banner {
margin-top: 10px;
position: relative;
padding: 15px 20px 18px 60px;
background-color: #f5f5f5;
font-family: arial;
}
.bp-shopcart-banner {
position: relative;
width: 275px;
margin: 0;
padding: 0 0 0 60px;
font-family: arial;
text-align: left;
background: #fff;
}
.bp-horizontal-banner .bp-icon {
position: absolute;
margin-left: -45px;
width: 32px;
height: 40px;
background: url(../images/bp-icon.png) no-repeat 0 0;
}

.bp-shopcart-banner .bp-icon {
position: absolute;
top: 0;
left: 0;
margin: 0;
width: 44px;
height: 54px;
background: url(../images/bp-icon.png?t=421d67f9_0) no-repeat -50px 0;
}

.bp-shopcart-banner {
position: relative;
width: 275px;
margin: 0;
padding: 0 0 0 60px;
font-family: arial;
text-align: left;
background: #fff;
}

.bp-horizontal-banner {
margin-top: 10px;
position: relative;
padding: 15px 20px 18px 60px;
background-color: #f5f5f5;
font-family: arial;
}
.bp-horizontal-banner .buy-protection-info h3 {
margin-bottom: 0;
font-size: 22px;
line-height: 30px;
font-weight: 700;
color: #369;
}
.bp-shopcart-banner .buy-protection-info h3 {
margin-bottom: 10px;
font-size: 22px;
font-weight: 700;
color: #369;
line-height: 22px;
}

.bp-shopcart-banner .buy-protection-info ul {
float: none;
font-size: 12px;
margin-bottom: 8px;
}

.bp-horizontal-banner .buy-protection-info li {
padding: 2px 20px;
margin-left: 0;
display: inline-block;
vertical-align: top;
list-style: none;
color: #666;
background: url(../images/bp-icon.png?t=421d67f9_0) no-repeat -88px -148px;
zoom: 1;
}

.bp-shopcart-banner .buy-protection-info ul li {
display: block;
color: #333;
background: url(../images/bp-icon.png?t=421d67f9_0) no-repeat -88px -147px;
line-height: 16px;
padding: 0 0 2px 15px;
text-align: left;
}

.bp-horizontal-banner .buy-protection-info li em {
color: #333;
font-weight: 700;
}

.bp-shopcart-banner .buy-protection-more {
padding-top: 0;
text-align: left;
}

.bp-shopcart-banner .buy-protection-more a {
padding-right: 10px;
color: #666;
display: inline-block;
background: url(../images/bp-icon.png?t=421d67f9_0) no-repeat 100% -96px;
}

/*数量改变框*/
#dlg-edit-quantity {
display: none;
width: auto;
/*position:fixed;*/
position: absolute;
background: #fff;
color: #999;
}

#dlg-edit-quantity {
box-shadow: 2px 2px 2px rgba(0,0,0,.1);
}

#dlg-edit-quantity .inner {
border: 1px solid #C6C6C6;
padding: 6px 7px;
z-index: 2;
}

#dlg-edit-quantity a {
color: #333;
}

.quantity-minus {
background: url(../images/ws-buyer-shopcart.png) no-repeat 0 -26px;
}

.quantity-minus, .quantity-add {
float: left;
text-indent: -999999px;
overflow: hidden;
display: inline-block;
height: 26px;
width: 26px;
}

#txt-editable-quantity {
float: left;
width: 35px;
height: 14px;
font-size: 12px;
}

.quantity-add {
background: url(../images/ws-buyer-shopcart.png) no-repeat 0 0;
}

#dlg-unit-quantity {
line-height: 26px;
padding: 0 5px;
font-size: 12px;
float: left;
}

#btn-ok-quantity {
float: left;
display: block;
width: 31px;
height: 18px;
overflow: hidden;
text-indent: -9999px;
border: 0;
background: url(../images/spr_we_buyer_shopcart.png) no-repeat 0 -1600px;
margin: 4px 10px 0 0;
}

#btn-cancel-quantity, #btn-ok-quantity {
line-height: 18px;
font-size: 11px;
cursor: pointer;
}

#btn-cancel-quantity {
color: #06C;
text-decoration: underline;
line-height: 26px;
}
#btn-cancel-quantity {
float: left;
}
.inventory-wrapper {
clear: both;
line-height: 18px;
}

/*添加货运地址的提示语*/
p.ui-feedback-addon.ui-feedback-body {
font-size: 12px;
color: #333;
line-height: 16px;
}

p.ui-feedback-addon.ui-feedback-error {
border: 1px solid #ffd4d2;
background-color: #ffefee;
background-position: -110px 0;
}

.address-info-item .ui-feedback {
float: left;
}

.hide {
display: none;
}

/*
p.ui-feedback-addon.ui-feedback-error, p.ui-feedback-addon.ui-feedback-alert, p.ui-feedback-addon.ui-feedback-success {
padding: 4px 10px 4px 37px;
background: transparent url(../images/sprite-feedback-addon.png?t=2880e432_0) no-repeat 0 0;
}
*/

/*支付方式*/
.payment-method {
margin: 30px 0;
padding: 15px;
border: 1px solid #eee;
}
.payment-method ul {
width: 860px;
}
.payment-method-title {
float: left;
margin-right: 10px;
line-height: 30px;
}
ul.payment-logo-method {
width: 860px;
zoom: 1;
list-style: none;
}
.payment-method ul.payment-logo-method {
float: left;
width: auto;
}

li.pm-type-visa-s-1 {
width: 49px;
background-position: 0 0;
}
.payment-method li {
float: left;
text-indent: -9999px;
overflow: hidden;
margin-right: 5px;
}

.payment-method li {
background: url(../images/detail-payment-logos.png?t=b4dbc946_0) no-repeat;
height: 30px;
margin-left: 0;
}

.payment-logo-method li {
/*background: url(../images/detail-payment-logos.png?t=b4dbc946_0) -64px 0 no-repeat;*/
height: 30px;
text-indent: -9999em;
float: left;
margin: 3px 5px 0 0;
display: block;
list-style: none;
}

li.pm-type-mastercard-s-1 {
width: 42px;
background-position: -55px 0;
}

li.pm-type-westernUnion-s-1 {
width: 75px;
background-position: -105px 0;
}

li.pm-type-maestro-s-1 {
width: 41px;
background-position: -185px 0;
}

li.pm-type-banktransfer-s-1 {
width: 88px;
background-position: -503px 0;
}

li.pm-type-qiwi-s-1 {
width: 83px;
background-position: -595px 0;
}

li.pm-type-webmoney-s-1 {
width: 110px;
background-position: -686px -1px;
}

li.pm-type-boleto-s-1 {
width: 28px;
background-position: -804px 0;
}

li.pm-type-yandex-s-l {
width: 51px;
background-position: -840px 0;
}

li.pm-type-doku-s-l {
width: 26px;
background-position: -902px 0;
}

/*用户积分*/
.tbGold-usePoint {
margin-right: 3px;
vertical-align: middle;
width: 255px;
height: 25px;
}

.c2c-text-default {
border: 1px solid #ccc;
}

/*用户提示*/
.tbGold-useTip {
color: #999;
line-height: normal;
margin-bottom: 5px;
}

