/* focus 图片滚动需要的配置 */


#focus {width:100%; height:300px; overflow:hidden; position:relative;}
#focus ul {height:300px; position:absolute;width: 100%;}
#focus ul li {width:100%; height:300px; overflow:; position:relative; background:#000;}

#focus .btnBg {position:absolute; width:100%; height:20px; left:0; bottom:0; background:#000;}
#focus .btn {position:absolute; width:100%; height:10px; padding:5px 0px; right:0; bottom:0; text-align:center;}
#focus .btn span {display:inline-block; _display:inline; _zoom:1; width:25px; height:10px; _font-size:0; margin-left:5px; cursor:pointer; background:#fff;}
#focus .btn span.on {background:#fff;}
#focus .preNext {width:45px; height:100px; position:absolute; top:180px; background:url(img/sprite.png) no-repeat 0 0; cursor:pointer;}
#focus .pre {left:0;}
#focus .next {right:0; background-position:right top;}

/*滚动图下方的图片配置*/

#image-bottom-list  ul{}
#image-bottom-list ul li {height:158.5px; width:332.3px; overflow:hidden; border-right: 1px solid #f0f0f0;float:left;} 