<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.own.www.mybatis.dao.MailAddressOperateMapper">
  
  
  	<update id="updateMailAddress"  parameterType="ru.own.www.entity.MailAddress" flushCache="true"  timeout="20">
      update mail_address set contactName=#{contactName},countryId=#{countryId},streetAddress=#{streetAddress},
      streetAddressOther=#{streetAddressOther},city=#{city},zipCode=#{zipCode},countryNumber=#{countryNumber},
      areaNumber=#{areaNumber},localNumber=#{localNumber},mobile=#{mobile} where id=#{id}
    </update>
  
    <insert id="addMailAddress" useGeneratedKeys="true" keyProperty="id" parameterType="ru.own.www.entity.MailAddress"  flushCache="true">
     insert  into mail_address(userId,contactName,countryId,streetAddress,streetAddressOther,city,zipCode,countryNumber,areaNumber,localNumber,mobile)
        values(#{userId},#{contactName},#{countryId},#{streetAddress},#{streetAddressOther},#{city},#{zipCode},#{countryNumber},#{areaNumber},#{localNumber},#{mobile})
    </insert>
    
    <delete id="delMailAddressByUserIdAndMailId"  flushCache="true"  timeout="20">
      delete from mail_address where id=#{1} and userId=#{0}
    </delete>
    
    
    
    <select id="getMailAddressByUseridAndMailId" resultType="int">
        select count(*) from own.order where userid=#{0} and useraddressid=#{1}
    </select>
     
    <select id="getMailAddressList" resultMap="mailAddressList">
        select * from mail_address where userId=#{0}
    </select>
    
    <select id="getMailAddressShowVOByUserIdAndMailId" resultMap="mailAddressList">
        select * from mail_address where userId=#{0} and id=#{1}
    </select>
    
    
    
    <resultMap type="ru.own.www.entity.MailAddressShowVO" id="mailAddressList">
    	<!-- 地址信息 -->
        <association property="mailAddress" javaType="ru.own.www.entity.MailAddress">
        	<id property="id" column="id"/>
        	<id property="userId" column="userId"/>
		    <result property="contactName" column="contactName"/>
		    <result property="countryId" column="countryId"/>
		    <result property="streetAddress" column="streetAddress"/>
		    <result property="streetAddressOther" column="streetAddressOther"/>
		    <result property="city" column="city"/>
		    <result property="zipCode" column="zipCode"/>
		    <result property="countryNumber" column="countryNumber"/>
		    <result property="areaNumber" column="areaNumber"/>
		    <result property="localNumber" column="localNumber"/>
		    <result property="mobile" column="mobile"/>
        </association>
        <!-- 国家信息 -->
        <association property="shppingCountry" javaType="admin.ru.own.www.entity.ShippingCountry" column="{countryid=countryId}" select="selectCountry"></association>
    </resultMap>
    
    <select id="selectCountry" resultMap="allShippingCountry">
	  	select id,name from shipping_country where id=#{countryid}
	</select>
	
	<!--配置一个resultMap 指定返回的类型    -->
    <resultMap id="allShippingCountry" type="admin.ru.own.www.entity.ShippingCountry">
        <id column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>
    
  
</mapper>