@charset "utf-8";
/*layout-three*/
#second-category-menu{width:100%;position:relative;/*height: 480px;*/}
#category-image-paly{width:100%;position:absolute;top:0px;left:0px;z-index:1;margin: 0 auto;}
#lagout-three{ width:1190px; /*height:408px; */margin:0 auto; border-top: 2px solid #F27B03;z-index:110}
/*.layout-three-l*/
.lagout-three-l{position: relative;width:190px;  float:left;z-index: 1000;opacity: 1;margin-top: 10px;}

/*.layout-three-r*/
.lagout-three-r{position: relative;width:1000px; /*height:480px;*/  float:right;z-index: 1000;margin-top: 10px;}

/*浜岀骇鏍忕洰鍒嗙被*/
.second-cateogry-list{width:190px;  border-top:0;color: #fff;background: url('../img/category_backgr.png') #181818 no-repeat;}
#sortlist, #sortlist .mc {
overflow: visible;
}
#sortlist .mc {
width: 188px;

}
#sortlist {
width: 188px;

border:1px solid #ddd;
}
.m, .sm {
margin-bottom: 10px;
}

.m, .mt, .mc, .mb, .sm, .smt, .smc, .smb {
overflow: hidden;
zoom: 1;
}


#sortlist .item {
/*height:158.5px;*/
position: relative;
z-index: 2;
zoom: 1;
background: #fff;
}

#sortlist .item:after, #sortlist .con:after, #sortlist ul:after {
content: '\20';
display: block;
clear: both;
}

#sortlist h3 {
position: relative;
z-index: 6;
clear: both;
height: 30px;
padding-left: 10px;
line-height: 30px;
background: #fff;
font-size: 12px;
font-weight: bold;
color: #333;
overflow: visible;
}

#sortlist h3 a {
color: #333;
}

#sortlist h3 s {
position: absolute;
z-index: 1;
left: 18px;
top: 12px;
width: 40px;
height: 32px;
background: url(../img/bag-icon.png) no-repeat;
font-size: 0;
}

#sortlist h3 .i1 {
background-position: 0 0;
}


#sortlist .con {
position: relative;
background: #fff;
line-height: 22px;
padding: 0 0 5px 10px;
overflow: hidden;
border-bottom: 1px dotted #ccc;
margin: 0 0px;
}


#sortlist .con a, #sortlist li a, #sortlist .item li span {
/*float: left;*/
overflow: hidden;
width: 56px;
height: 20px;
padding-left: 0;
margin-right: 8px;
line-height: 22px;
color: #666;
}


.clr {
display: block;
overflow: hidden;
clear: both;
height: 0;
line-height: 0;
font-size: 0;
}


#sortlist ul {
display: none;
position: absolute;
left: 188px;
top: 0px;
z-index: 3;
zoom: 1;
width: 392px;
border: solid #b08d6d;
border-width: 2px 2px 2px 2px;
background: #fbf9f6;
}

#sortlist .item li .whole {
width: 372px;
height: 26px;
line-height: 26px;
background: #fbf9f6;
font-weight: bold;
cursor: default;
padding-left: 10px;
}


#sortlist b {
position: absolute;
left: 165px;
top: 2px;
width: 10px;
height: 32px;
font-family: \5b8b\4f53;
color: #d8c5b3;
}

#sortlist  .moreitem:hover  {
	margin-top: -2px !important;;
	background: #fbf9f6;
	position: relative;
	border-bottom: 2px solid #B08D6D;
	border-top: 2px solid #B08D6D;
	z-index: 10;
}
#sortlist  .moreitem:hover  h3 {
background: #fbf9f6;
}

#sortlist .moreitem:hover .i4 {
background-position: 0 -96px;
}

#sortlist  .moreitem:hover  .con{
background: #fbf9f6;
}
#sortlist  .moreitem:hover   ul  {
display: block;
position: absolute;
left: 188px;
top: -2px;
border-left: none;
height: 116px;
}

/*end of 浜岀骇鏍忕洰鍒嗙被*/


/*鐐瑰嚮淇℃伅涔嬪悗锛屽彸渚ф樉绀哄唴瀹归渶瑕佺殑鏍峰紡*/
.footerInfoContent{
	padding-left: 20px;
	padding-right: 10px;
}

/*鏈�簳涓嬬殑瀵艰埅鍥剧墖*/
.banner{height:110px;width:300px; background:url(../images/adv5.jpg) no-repeat bottom center; margin-top:25px; margin-bottom:15px; overflow:}
/*seller*/
#seller{width:1190px;height:390px;margin:15px auto;}
/*
#seller ul{width:1190px;height:390px;}
#seller ul li{width:163px;height:195px; float:left;}
#seller ul li a{display:inline-block; padding-bottom:6px;}
#seller ul li a span{ text-decoration:line-through; display:inline-block; padding-right:5px;}
#seller ul li .current{ width:90px; height:14px; background:url(../images/by.jpg) no-repeat left center; padding-left:30px;padding-bottom:0px; line-height:14px}
#seller ul li .current1{ display:block}
*/
.clearboth{clear:both}
#banner{width:1190px;height:92px; margin:0px auto }
#banner .a1{width:728px;height:90px;border:1px solid #D7DCD8; display:inline-block; margin-right:10px;}
#banner .a2{width:190px;height:90px;border:1px solid #D7DCD8; display:inline-block;}
/*foot*/
#foot{width:750px;/*height:160px;*/ margin:30px auto;}
#foot ul{width:750px;/*height:160px;*/ }
#foot ul li{width:150px;/*height:160px;*/ float:left;margin-right: 30px;}
#foot ul li a{ display:block; line-height:20px;}
#foot ul li a.current{ font-size:14px; font-weight:bold; line-height:24px;}
#foot-c{width:1190px;border-top:2px solid #FF4300; background:url(../images/bottom-kt.png) no-repeat right 10px; margin:0 auto;margin-top: 10px;}
.foot-c1{width:1190px;margin-top: 10px;}











